body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: 1440px;
  margin: 0 auto;
  font-size: 2rem;
}
html {
  font-size: 62.5%;
}

.section-1 {
  width: 100%;
  padding-bottom: 2rem;
  padding-top: 10rem;
  text-align: center;
  font-style: italic;
  color: wheat;
  background-image: url(Images/Main1nebo2.jpg);
  background-size: cover;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1 {
  animation-name: moveInLeft;
  animation-duration: 3s;
  animation-timing-function: ease-out;
}
.title__h2 {
  animation-name: moveInRight;
  animation-duration: 3s;
  animation-timing-function: ease-out;
}
.links {
  padding: 5px;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid rgb(161, 198, 233);
  transition: all 0.2s;
  color: antiquewhite;
}
.links:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}
.links:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0);
}

.col .skills {
  background: #353b48;
  display: block;
  height: 7px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0 2rem #2187e7b3;
}

.col .skills span {
  height: 7px;
  float: left;
  background: #00c8f8;
}

.html {
  width: 90%;
}

.css {
  width: 80%;
}

.js {
  width: 40%;
}
.col ul li {
  margin-bottom: 7rem;
  list-style: none;
}

.col {
  width: 50%;
  margin: 0 auto;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.section-2 {
  width: 100%;
  padding: 5rem 0;
  position: relative;
}
/* navigation */
.navigation {
  border-bottom: 1px solid rgb(209, 227, 243);
}
.btn-open {
  visibility: hidden;
}
.btn-close {
  visibility: hidden;
}
.navigation__list {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
  padding: 2rem;
}
.navigation__list li {
  display: inline-block;
}
.navigation__list li a {
  color: #000;
  background-color: white;
}
.navigation__list li a:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}
.navigation__list li a:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0);
}
.navigation__list i {
  color: rgb(161, 198, 233);
  margin-left: 5px;
}
.nav-close {
  display: none;
}

.main {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.text__h2 {
  margin-left: 5rem;
}
.text__p {
  font-size: 2.2rem;
  margin-left: 5rem;
}
.img {
  margin: 7rem 0;
}
.icons {
  height: 15rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
}
.icons__item:hover {
  transform: scale(1.3);
}

.section-3 {
  background-image: url(Images/Main1nebo2.jpg);
  padding: 4rem;
}
.work {
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.work__h2 {
  color: antiquewhite;
  font-size: 2rem;
}
.btn {
  font-size: 4rem;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid rgb(161, 198, 233);
  transition: all 0.2s;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  border-bottom: none;
}
.contact__h2 {
  border-bottom: none;
}

.contact a {
  font-size: 2rem;
}

/*footer*/
footer {
  width: 100%;
  background-color: rgb(240, 233, 233);
}

.footer-social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.footer-social i {
  color: rgb(125, 154, 180);
  font-size: 5rem;
}
.footer-social li {
  padding: 4rem;
}

@media screen and (max-width: 768px) {
  .section-1,
  .skills,
  .col p {
    font-size: 1.3rem;
  }
  .img {
    display: none;
  }

  .main {
    display: grid;
    grid-template-columns: 1fr;
    font-size: 1.4rem;
  }

  .icons {
    height: 10rem;
  }

  .btn {
    font-size: 3rem;
  }
  .contact {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  .section-1 {
    font-size: 0.6rem;
    padding-top: 4rem;
  }
  .col ul li {
    margin-bottom: 2rem;
    list-style: none;
  }
  .myskills {
    font-size: 0.9rem;
  }

  .main {
    display: grid;
    grid-template-columns: 1fr;
    font-size: 1rem;
  }

  .text__p {
    font-size: 1.2rem;
    justify-content: center;
    align-items: center;
  }
  .img {
    display: none;
  }
  .icons {
    height: 5rem;
  }

  .work__h2 {
    font-size: 1.2rem;
  }
  .btn {
    font-size: 2rem;
  }
  .contact {
    font-size: 1rem;
  }
  .contact a {
    font-size: 1rem;
  }
  .footer-social a i {
    font-size: 3rem;
  }
  .footer-social li {
    padding: 2rem;
  }

  .nav-close {
    display: none;
  }
  .nav-close__list {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .nav-close__list li {
    display: inline-block;
    font-size: 1.5rem;
  }
  .nav-close__list li a {
    color: #000;
    background-color: white;
  }
  .nav-close__list li a:hover {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
  }
  .nav-close__list li a:active {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    transform: translateY(0);
  }
  .nav-close__list i {
    color: rgb(161, 198, 233);
  }

  .btn-close {
    border: none;
    background-color: transparent;
    font-size: 2rem;
    position: absolute;
    right: 1.4rem;
    top: 1.4rem;
  }

  /* open-nav */
  .navigation {
    display: none;
  }
  .btn-open {
    visibility: visible;
    border: none;
    background-color: transparent;
    font-size: 2rem;
    position: absolute;
    right: 1.4rem;
    top: 1.4rem;
  }
}
